.organization-table-associated{
    display: fixed;
    border-collapse: collapse;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    font-size: 1rem;
    
}
.card{
  z-index: 0;
}
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.row{
  z-index: -1;
}
.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 300ms;
}
