.App-header{
  position: sticky;
  top: 0px;
  width: 100%;
  color: #fff;
  line-height: 26px;
}
nav {
  display: flex;
  flex-direction: row;

  width: 100%;
  z-index: 1050;
  align-items: center;
  background-color: #0a2a52;
  color: white;
}

.user-account-menu {
  display: flex;
  align-items: center;
  margin-right: auto;
  font-size: large;
}
.user-account {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.user-info a {
  padding: 0.0021rem;
  text-decoration:none;
}

nav a {
  padding: 0.1rem 0.4rem;
  text-decoration: none;
  color: white;
  z-index: 1051;
}
.profile-picture {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  margin: 6px;
  background-color: #e8e8e8;
}
.profile-picture-mobile{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 6px;
  background-color: #e8e8e8;
}
.status-container {
  display: flex;
  align-items: center;
  position: relative;
}

#status-dropdown {
  padding: 0.5rem;
  background-color: #fff;
  border:#6c757d;
}

#status-dropdown option {
  color: #000;
}

#status-dropdown option.online {
  background-color: #28a745;
}

#status-dropdown option.way {
  background-color: #ffc107;
}

#status-dropdown option.dnd {
  background-color: #dc3545;
}

#status-dropdown option.offline {
  background-color: #6c757d;
}





.dropdown {
  display: none;
  position: fixed;
  z-index: 5;
}
.status-dropdown-menu {
  align-content: center;
  align-items: center;
}
.dropdown-content {
  display: none;
  position: fixed;
  background-color: #0a2a52;
  min-width: 400px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 100;
}

.dropdown:hover .dropdown-content {
  display: block;
}

@media (max-width: 700px) {
  nav {
    flex-direction: row;
    align-items: start;
    z-index: 2;
  }
  .user-account-menu {
    display: none;
  }
  nav a {
    margin: 0.5rem 0;
  }
  #desktopNav {
    display: none;
  }
  .dropdown {
    z-index: 2;
    display: block;
    position: relative;
    margin-bottom: 10px;
  }
}

Footer {
  color: white;
  background-color: #0a2a52;
  position: sticky;
  width: 100%;
  bottom: 0;
  justify-content: center;
  
}


body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* changed 'height' to 'min-height' */
}
#app {
  display: flex;
  flex-direction: column;
}

.main{
  flex-grow: 0; /* Allows the main content area to grow and fill the available space */
  overflow-y:scroll; /* Makes the main content area scrollable */
  padding: 2rem; /* Add padding for better appearance */
}

.side-nav.open {
  transform: translateX(0); /* slide the side nav into view */
}

.main-content {
  margin-left: 100%; /* add margin to shift main content to the right */
  transition: all 0.1s ease-out; /* add a transition effect for smooth animation */
}

.main-content.open {
  margin-left: 0; /* reduce the margin when the side nav is open */
}
.FooterRow.center{
display: flex;
justify-content: center;
flex-direction: row;
}
.FooterRow.left{
  display: flex;
  justify-content: left;
  flex-direction: row;
}
.FooterRow.right{
  display: flex;
  justify-content: right;
  flex-direction: row;
}
.FooterTable{
  width: 100%;
  table-layout: fixed;
}
header {
  position: sticky;
  top: 0;
  z-index: 10;
}

header, footer {
  flex-shrink: 0; /* Prevents header and footer from shrinking */
  background-color: #0a2a52; /* Add a background color if desired */
}
#custom-app-color{
  background-color: #0a2a52;
}
