.App-header{
  position: sticky;
  top: 0px;
  width: 100%;
  background-color: #ed0606;
  color: #fff;
  line-height: 26px;
}
nav {
  display: flex;
  align-items: center;
  background-color: #0a2a52;
  color: white;
}

.user-account-menu {
  display: flex;
  align-items: center;
  margin-right: auto;
}
.user-account {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.user-info a {
  padding: 0.7rem;
  text-decoration: none;
}

nav a {
  padding: 0.1rem 0.4rem;
  text-decoration: none;
  color: white;
}
.profile-picture {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  margin: 6px;
  background-color: #e8e8e8;
}
.status-container {
  display: flex;
  align-items: center;
  position: relative;
}

#status-dropdown {
  padding: 0.5rem;
  background-color: #fff;
  border:#6c757d;
}

#status-dropdown option {
  color: #000;
}

#status-dropdown option.online {
  background-color: #28a745;
}

#status-dropdown option.way {
  background-color: #ffc107;
}

#status-dropdown option.dnd {
  background-color: #dc3545;
}

#status-dropdown option.offline {
  background-color: #6c757d;
}



#Vertical Menu nav {
  display: flex;
  justify-content: space-between;
  max-width: inherit;
}

.dropdown {
  display: none;
  position: fixed;
}
.status-dropdown-menu {
  align-content: center;
  align-items: center;
}
.dropdown-content {
  display: none;
  position: fixed;
  background-color: #0a2a52;
  min-width: 400px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

@media (max-width: 700px) {
  nav {
    flex-direction: row;
    align-items: start;
  }
  .user-account-menu {
    display: none;
  }
  nav a {
    margin: 0.5rem 0;
  }
  #desktopNav {
    display: none;
  }
  .dropdown {
    z-index: 0;
    display: block;
    position: relative;
    margin-bottom: 10px;
  }
}

.tools-footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  flex: 0 30px;
  color: white;
  background-color: #0a2a52;
  justify-content: center;
}


body {
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 100vh;
}
.footCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
