* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
  }
  .Form_Title{
    text-align: center;
  }
.page-Header {
    background-color: #0A2A52;
    size: 25px;
    color: white;
    width: auto;
    height: auto;
    text-align: center;
    block-size: auto;
    font-weight: bold;
    font-size: 65px;
}
.tools-footer {
  flex: 0 30px;
  color: white;
  background-color: #0a2a52;
  justify-content: center;
  position: fixed; left: 0px; right: 0px; bottom: 0px;
}
body {
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 100vh;
}
.footCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
  @media screen and (max-width: 600px) {
	  .page-Header{
		      font-size: 25px;
          min-height: 5%;
          min-width: 100%;
	  }
    body {
      font-size: 12px;
      min-height: 100%;
      min-width: 100%;
    }
  }
  #RegisterForm{
    align-items: center;
    display: none;
  }
  